
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    max-width: 100%;
  }
  .mainnav {
    display: flex;
    
    justify-content: flex-end;
    height: 2.4rem;
    margin-right: 2rem;
  }
  .mainnav li {
    color: lightgray;
    padding: 1rem;
    list-style-type: none;
  }
 
  
  nav {
    display: flex;
   justify-content: space-around;
   width: 100%; 
    background:white;
    padding-top: 1rem;
    height: 10vh;
    
  }
  
  nav a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Shippori Mincho', serif;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(white, transparent, white), url(../clothes.png) no-repeat center / cover;
    
    height: 85vh;
    
  }
  .maincon {
    background-color: white;
    color: black;
    font-family: 'Shippori Mincho', serif;
    height: 15rem;
    border-radius: .3em;
    border: .7rem solid rgb(53, 53, 53); 
    padding-left: 10rem;
    
    width: 50rem;
  }
  .mainconover {
    background-color: white;
    border:solid; 
    color: black;
    font-family: 'Shippori Mincho', serif;
    height: 20rem;
    border: .7rem solid rgb(53, 53, 53);
    border-radius: .3em;
    margin-right: -10rem;
    margin-bottom: 12rem;
    padding: 20px;
    z-index: 4;
    width: 35rem;
  }
  h1 {
    color: black;
    
    font-size: 2em;
    word-spacing: .5em;
    font-family: 'Shippori Mincho', serif;
  }
  h3 {
    font-family: 'Shippori Mincho', serif;
    font-size: 3.2em;
  }
  
  .about {
    display: flex;
    flex-direction: row;
    margin-top: 20rem;
    width: 100%;
    color: white;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    background: linear-gradient(white 10%, transparent 70%, white 100%), url(../steve-halama-T9A31lqrXnU-unsplash.jpg) no-repeat center / cover;
  }
 .image {
   height: 6rem;
   width: 6rem;
   margin-right: 5rem;
 }
  .special {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    color: lightgray;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    margin-right: 8rem;
  }
  
  .wrappershop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 8rem;
    width: 35rem;
  }
  .wrapper2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 8rem;
    width: 35rem;
  }
  #bname {
    font-family: 'Shippori Mincho', serif;
    font-size: 1.2em;
    margin-left: 2rem;
  }

  .featured {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: lightgray;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }



.container .card
{
  position: relative;
  width: 320px;
  height: 450px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}
.container .card:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightgray;
  clip-path: circle(75px at 50% 45%);
  transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
  clip-path: circle(200px at 50% -45%);
}
.container .card:after
{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  color: rgba(255,255,255,0.02);
  font-weight: 800;
  font-style: italic;
  z-index: 1;
}
.container .card .imgBx
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.container .card:hover .imgBx
{
  top: 0;
  transform: translateY(0);
}
.container .card .imgBx img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-25deg);
  width: 270px;
}
.container .card .contentBx
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .contentBx
{
  height: 210px;
}
.container .card .contentBx h2
{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color:lightgray;
}
.container .card .contentBx .size,
.container .card .contentBx .color
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.container .card:hover .contentBx .size
{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.container .card:hover .contentBx .color
{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3
{
  color: lightgray;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .contentBx .size span
{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: whitesmoke;
  border-radius: 4px;
  margin: 0 5px;
  transition: 0.5s;
  cursor: pointer;
}
.container .card .contentBx .size span:hover
{
  color: #111;
  background: lightblue;
}
.container .card .contentBx .color span
{
  width: 20px;
  height: 20px;
  background: #f00;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2)
{
  background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3)
{
  background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4)
{
  background: #e91e63;
}
.container .card .contentBx a
{
  display: inline-block;
  padding: 10px 30px;
  background: whitesmoke;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: lightgray;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .card:hover .contentBx a
{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
.shop {
  display: flex;
  padding: 20px 40px;
  background: whitesmoke;
  border-radius: 4px;
  margin-top: 70px;
  text-decoration: none;
  font-weight: 800;
  color: lightgray;
}
.shop:hover {
  background: lightblue;
  color: white;
}
.bttnhold {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerinput
{
    position: relative;
    width: 500px;
    
    padding: 40px;
    background: white;
    font-family: 'Shippori Mincho', serif;
}
.containerinput h2
{
    color: #999;
    margin-bottom: 25px;
}
.containerinput p
{
    color: #999;
    margin-bottom: 25px;
}
.input-field
{
    position: relative;
    height: 40px;
    width: 100%;
}
.input-field input[type="text"]
{
    position: absolute;
    background: transparent;
    border: white;
    box-shadow: none;
    font-size: 16px;
    color: lightgray;
    width: 100%;
}
.input-field label
{
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
}
.input-field input[type="text"]:focus + label,
.input-field input[type="text"]:valid + label
{
    transform: translateY(-35px);
    font-size: 14px;
    color: #fff;
    background: #ff006a;
    padding: 2px 6px;
    opacity: 0;
}
.input-field span
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: lightgray;
    width: 100%;
    height: 2px;
}
.input-field span:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b0ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.input-field input[type="text"]:focus ~ span:before,
.input-field input[type="text"]:valid ~ span:before
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.btn
{
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: lightgray;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover
{
    background: #00bcd4;
}
.fa {
  margin-left: 10px;
  margin-top: 2px;
}












  .products {
       display: grid;
       gap: 2rem;
       grid-template-columns: repeat(3, 1fr);
       margin-top: 3rem;
     }
     
     .product img {
       max-width: 100%;
     }
     
     .product form {
       align-items: baseline;
       display: grid;
       gap: 0.5rem;
       grid-template-columns: 70px 50px 1fr;
     }
     
     .product input {
       border: 1px solid black;
       border-radius: 0.25rem;
       font-size: 1.125rem;
       line-height: 1.25rem;
       padding: 0.25rem;
     }
     
     .product button {
       background: black;
       border: none;
       border-radius: 0.25rem;
       color: white;
       font-size: 1.25rem;
       font-weight: 800;
       line-height: 1.25rem;
       padding: 0.25rem;
     }








footer
{
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.sec
{
	margin-right: 30px;
}
.sec.aboutus
{
	width: 40%;
}
.sec h2
{
	position: relative;
	color: lightgray;
	font-weight: 500;
	margin-bottom: 15px;
}
.sec h2:before
{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: lightblue;
}
.sec p
{
	color: #999;
}
.sci
{
	margin-top: 20px;
	display: flex;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}
.sci li a:hover
{
	background: #f00;
}
.sci li a .fa
{
	color: gray;
	font-size: 20px;
}
.sec.quicklinks
{
	position: relative;
	width: 25%;
}
.sec.quicklinks ul li
{
	list-style: none;
}
.sec.quicklinks ul li a
{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}
.sec.quicklinks ul li a:hover
{
	color: lightblue;
}
.sec.contact
{
	width: calc(35% - 60px);
	margin-right: 0;
}
.sec.contact .info
{
	position: relative;
}
.sec.contact .info li
{
	display: flex;
	margin-bottom: 16px;
}
.sec.contact .info li span:nth-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.sec.contact .info li a
{
	color: #999;
	text-decoration: none;
}
.sec.contact .info li a:hover
{
	color: lightblue;
}


.copyrightText
{
	width: 100%;
	background: white;
	padding: 8px 100px;
	text-align: center;
	color: #999;
}

@media (max-width: 991px)
{
	.sec.aboutus,
	.sec.quicklinks,
	.sec.contact
	{
		width: 100%;
		margin-bottom: 40px;
	}
	.sec.contact
	{
		margin-bottom: 0px;
	}
	footer
	{
		padding: 40px;
	}
	.copyrightText
	{
		padding: 5px 40px;
	}
}



.bundle {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 10rem;
  height: 10rem;
  transform:
    perspective(75em)
    rotateX(18deg);
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 1px solid;
  border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
}


.wrapper {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.carousel .card {
  background: white;
  
  margin-right: 8.4rem;
  margin-left: 1rem;
  display: inline-block;
}